<?xml version="1.0" encoding="UTF-8"?>
<!-- Web.Config 配置文件 -->
<configuration>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".m3u8" mimeType="application/x-mpegURL" />
            <clientCache cacheControlMode="NoControl" />
        </staticContent>
    </system.webServer>
</configuration>
